.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.floatercontainer {
  animation-name: floating;
  z-index: 10;
  background-color: blue;
  position: relative;
}
.floater {
  /* opacity: .8; */
  z-index: 20;
  /* position: absolute; */
  /* height: 50px; */
  display: relative;
  animation-name: example2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.floater2 {
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  /* transform: rotateY(-25deg); */
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite; /* 1; */
  animation-delay: 1s;
  animation-direction: reverse;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* customizable snowflake styling */
.snowflake {
   color: #fff;
   font-size: 1em;
   font-family: Arial, sans-serif;
   text-shadow: 0 0 5px #000;
 }
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -20%;
    transform: translateX(180px);
  }
  45% {
   opacity: .9
  }
  50% {
   /* left: 0%; */
   transform: translateX(30px);
   top: 80%;
   opacity: 0;
  }
  55% {
      opacity: .9
  }
  /* 90% {
     opacity: 1;
  } */
  /* animation ends at 80% from the top */
  100% {
    top: -30%;
    /* opacity: 0; */
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(-180px);
    transform: translateY(-180px);
  }
  50% {
    transform: translateX(180px);
    transform: translateY(80px);
  }
}
.snowflake {
  position: fixed;
  top: -50%;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  /* animation-name: bounce; */
  /* -webkit-animation-duration: 1s, 1s; */
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: bounce, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 30s, 0s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
/* .snowflake:nth-of-type(0) {
  left: 50%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
} */
 .snowflake:nth-of-type(1) {
  left: 0%;
  -webkit-animation-delay: 0s, 6s;
  animation-delay: 0s, 6s;
} 
.snowflake:nth-of-type(2) {
   left: 5%;
  -webkit-animation-delay: 10s, 2s;
  animation-delay: 10s, 2s;
}
.snowflake:nth-of-type(3) {
  left: 10%;
  -webkit-animation-delay: 17s, 3.5s;
  animation-delay: 17s, 3.5s;
}
.snowflake:nth-of-type(4) {
  left: 15%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 25s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 30%;
  -webkit-animation-delay: 0s, 3s;
  animation-delay: 0s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 36%;
  -webkit-animation-delay: 19s, 2s;
  animation-delay: 19, 2s;
}
.snowflake:nth-of-type(7) {
  left: 45%;
  -webkit-animation-delay: 15.5s, 1s;
  animation-delay: 15.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 55%;
  -webkit-animation-delay: -5s, 0s;
  animation-delay: -5s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 68%;
  -webkit-animation-delay: 10s, 1.5s;
  animation-delay: 10s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 85%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 18s, 0s;
}
/* .snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 20s, 7.5s;
  animation-delay: -2, 7.5s;
}
.snowflake:nth-of-type(12) {
  left: 70%;
  -webkit-animation-delay: -6s, 0s;
  animation-delay: -6s, 0s;
}
.snowflake:nth-of-type(13) {
  left: 85%;
  -webkit-animation-delay: 10s, 2.5s;
  animation-delay: 10s, 2.5s;
}
.snowflake:nth-of-type(14) {
  left: 70%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 7s, 0s;
}
.snowflake:nth-of-type(15) {
  left: 1%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
.snowflake:nth-of-type(16) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(17) {
  left: 35%;
  -webkit-animation-delay: 8s, 2.5s;
  animation-delay: 14s, 2.5s;
} 
.snowflake:nth-of-type(18) {
  left: 75%;
  -webkit-animation-delay: 8s, 2.5s;
  animation-delay: 18s, 2.5s;
} 
.snowflake:nth-of-type(19) {
  left: 78%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}  */
/*
*/
@keyframes Slideright {
  to {
    transform: translateX(180px);
  }
}
@keyframes Slideleft {
  to {
    transform: translateX(-180px);
  }
}
@keyframes Slideup {
  to {
    transform: translateY(-180px);
  }
}
@keyframes Slidedown {
  to {
    transform: translateY(180px);
  }
}
/* The animation code */
@keyframes ChangeBackgroundColor {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
/* The animation code */
@keyframes ChangeSize {
  0% {
    left: 10px;
    top: 10px;
  }
  25% {
    left: 0px;
    height: 100px;
  }
  50% {
    left: 0px;
    height: 200px;
  }
  100% {
    left: 0px;
    height: 300px;
  }
}
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  /* 25%  {background-color:yellow; left:0px; top:0px;transform: rotateX(180deg);} */
  25% {
    background-color: yellow;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 0px;
    top: 0px;
  }
  /* 75%  {background-color:green; left:0px; top:0px;transform: rotateZ(90deg);} */
  75% {
    background-color: green;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: purple;
    left: 0px;
    top: 0px;
  }
  /* transform: rotateX(150deg); */
}
@keyframes example2 {
  0% {
    background-color: red;
    marginleft: 0px;
    top: 0px;
  }
  /* 25%  {background-color:yellow; left:0px; top:0px;transform: rotateX(180deg);} */
  25% {
    background-color: yellow;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 1500px;
    top: 0px;
  }
  /* 75%  {background-color:green; left:0px; top:0px;transform: rotateZ(90deg);} */
  75% {
    background-color: green;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: purple;
    left: 0px;
    top: 0px;
  }
  /* transform: rotateX(150deg); */
}
@keyframes floating {
  0% {
    transform: translate(180px, 0px);
  }
  50% {
    transform: translate(49px, 15px);
  }
  100% {
    transform: translate(-100, -0px);
  }
}




.container1 {
   width: 180px;
   height: 600px;
   overflow-y: scroll;
   overflow-x: hidden;
   transform: rotate(-90deg);
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: center; */
   height: 90vh;
   /* padding-top: 1000px; */
   padding-left: 100px;
 }
 
 .content1 {
   width: 340px;
   height: 340px;
   margin: 10px;

   background-color: #a8a8df;
   
   transform: rotate(90deg);
 }

.rotategithub {
  animation: rotationright 3s infinite linear;
}
.rotategithub:hover {
  opacity: .7;
  cursor: pointer;
}
.rotatetwitter {
  animation-delay: 5s 5s;
  -webkit-animation-delay: 0s, 0s;
  animation: rotationleft 10s infinite linear;
}
.rotatetwitter:hover {
  opacity: .7;
  cursor: pointer;
}
.rotatemedium {
  animation-delay: 2s 2s;
  -webkit-animation-delay: 0s, 0s;
  animation: rotationright 10s infinite linear;
}
.rotatemedium:hover {
  opacity: .7;
  cursor: pointer;
}
.rotatediscord{
  animation: rotationleft 12s infinite linear;
}
.rotatediscord:hover {
  opacity: .7;
  cursor: pointer;
}
.rotatelinkedin{
  animation: rotationright 8s infinite linear;
}
.rotatelinkedin:hover {
  opacity: .7;
  cursor: pointer;
}
.rotatetwitch{
  animation: rotationleft 10s infinite linear;
}
.rotatetwitch:hover {
  opacity: .7;
  cursor: pointer;
}

@keyframes rotationleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@keyframes rotationright {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}